* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Outfit', sans-serif;
}
.container {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.imgBox {
  width: 50%;
}

.imgBox img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 15px;
}

.contentBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 15px;
  margin-top: 80px;
}

.contentBox h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.contentBox input {
  outline: none;
  border: none;
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(163, 2, 163);
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.5;
  color: lightgray;
}

.continue {
  padding: 20px 10px;
  outline: none;
  border: none;
  background-color: purple;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 40px;
  position: relative;
}

.spann {
  font-weight: 100;
}

.cont {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.connect {
  text-align: center;
  color: lightgray;
  margin: 20px 0;
  font-weight: 400;
}

.social.tw {
  padding: 10px 10px;
  outline: none;
  border: none;
  background-color: #1da1f2;
  color: white;
  font-size: 15px;
  font-weight: 100;
  display: flex;
  gap: 25px;
  align-items: center;
}

.twitter {
  padding-left: 30px;
  font-size: 30px;
}

.social.fc {
  padding: 10px 10px;
  outline: none;
  border: none;
  background-color: #3b5998;
  display: flex;
  gap: 25px;
  align-items: center;
  color: white;
  font-size: 15px;
}

.fcc {
  padding-left: 40px;
  font-size: 30px;
}
